.navbar{
background-color: #243119;
}

.header{
font-size:30px;
}

th{
 font-size: 70px;
 color: #ACECA1;
 }

 table {
   border: 1px solid #ACECA1;
 }

 .main{
 font-size: 40px;
 font-weight: 500px;
 color: white;
 }

 .add{
 background-color: #243119;
 font-size:50px;
  color: white;
 }


 .addd{
  background-color: #629460;
  font-size:50px;
   color: white;
  }

 h3{
  font-size:30px;
  color: #5B1000;
 }

 .add-btn{
 font-size:20px;
 }
 #todoItem{
 font-size:40px;
 }

.task{
 font-size:20px;
  color: #040503;
}


.cat{
 font-size:40px;
 color: #040503;
}

.delete{
background-color: #FA0000;
 font-size:20px;
}

.name{
margin-top: 200px;
}

.main-name{
    font-size:60px;
  color: #040503;
}

.main-name1 {
 font-size:60px;
  color: #040503;
  text-decoration: line-through;
}