<h1 class="cat">$client.getName()</h1>

<h2 class="cat">Edit Client:</h2>

<form action="/clients/$client.getId()" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-lg add"></p class="add-btn">Update Client</p></button>
</form>

<a href="/">Return to Home</a>