<h1>Add a stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="name">Category name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn add btn-lg"><p class="add-btn">Add Stylist</p></button>
</form>