<h1 class="cat">$stylists.getName()</h1>

<h2 class="cat">Edit Stylists:</h2>

<form action="/stylists/$stylists.getId()" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-lg add"></p class="add-btn">Update Stylists</p></button>
</form>

<a href="/">Return to Home</a>